PORT=
NODE_ENV= 
URL_REACT= 
MAX_NUMBER=
EMAIL_APP_PASSWORD=
EMAIL_APP=
VNPAY_URL=
VNPAY_TMNCODE=
VNPAY_HASHSECRET=
VNPAY_RETURNURL=
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=
MOMO_ENVIRONMENT=
PAYPAL_MODE=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
USD=
GOOGLE_APP_CLIENT_ID=
GOOGLE_APP_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
SESSION_SECRET=